
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(51, 1, 51), rgb(49, 1, 49));
}
.calculator{
    padding: 20px;
    border-radius: 10px;
    background-color: antiquewhite;
}